[2019-01-31 15:56] ohnewein opened #2 "As a project manager, I would like to have the new analytics web app reachable at the domain http://analytics.mobility.bz.it/"
- [x] create production pipeline
- [x] setup new production environment
- [x] create dns entry and write proxy rule
- [x] add https
- [x] update to java 8

[2019-02-14 11:30] #2 closed, assigned to bertolla

[2019-02-19 13:34] bertolla opened #4 "Password as cleartext in logs"
By doing an http-get on login the password is send to the server and ends up in the logfiles like access logfile of http.
Needs to be changed to HTTP-POST

[2019-02-19 13:36] bertolla opened #5 "A more explicit logging"
Logging should explain better what calls are made and how they resolve. Furthermore it should be possible to have an own logfile.

[2019-02-19 13:41] bertolla opened #6 "Permalink, unexpected behaviour"
When I click on the permalink the url doesn't get copied. Maybe it was not wanted, but as a user I expect it and it could improve usability.

[2019-02-19 13:45] bertolla opened #7 "Permalink does not consider daterange boxes"
When I copy the permalink the input boxes of date do not update to the time set in the link, which causes inconsistency. Just think if I want to add a new dataset, what would happen now?

[2019-02-19 14:48] bertolla opened #8 "Authorization not working correctly on production"
Data where authorization is required is not shown on production environment

[2019-03-12 09:39] rcavaliere opened #10 "As a traffic engineer, I would like to have a "CBZ" user for the analytics dashboard with full rights on the (current) data sets to be viewed"

[2019-03-15 08:21] #8 closed, assigned to rcavaliere

[2019-09-13 06:00] rcavaliere opened #17 "As an ODH user, I would like that in case of open data access and request of a retrieval of closed dataset the ODH API responds a HTTP 401 message and not a HTTP 200 message with empty array / message."
This is creating some unexpected user experience for instance on analytics.mobility.bz.it, since the application is not able to distinguish between no data / closed data.

[2019-09-13 06:03] rcavaliere opened #14 "As a traffic analyist, I would like to see online the new analytics web-application"
Davide Montesin is working on the development of new functionalities. Some of them have been implemented and are available in the correspondent repository. The application should be put in production so that these intermediate modifications are visible (e.g. possibility to see data in case of multiple stations in the same point).

[2019-09-27 08:16] #17 closed, assigned to rcavaliere

[2020-01-08 15:29] rcavaliere opened #21 "Map: icon logic with coloured mark does not work as expected"
This logic is not working properly.
The logics inserted here: https://github.com/noi-techpark/mobility-analytics/blob/master/src/main/webapp/layers-config.json
seems however correct
@davidebz can you please check?

[2020-01-08 15:59] rcavaliere opened #22 "Map: icon logic with coloured mark independent from period"
@davidebz For weather stations, we have different periods associated to the type "precipitation", since data providers are different. Can we modify the logic so that consider the value independently from the period?
E.g.

 "icons": ["Weather.svg", ["green.svg", "precipitation", 300, 0, 1], ["yellow.svg", "precipitation", 300, 1, 10], ["red.svg", "precipitation", 300, 10, 99999]],

becomes

 "icons

[2020-02-02 07:23] rcavaliere opened #24 "As a project manager, I would like to create new users for the "analytics" web-app and assign them specific access rights for visualizing certain closed data"
BrennerLEC partners and stakeholders do want to use the app now.

We will use this app as second app to bring on OAuth.

[2020-02-29 05:28] rcavaliere commented on #14
@bertolla, can you put in the testing environment the new pull request of Davide concerning some improvements in the Bluetooth elaboration chain?

[2020-02-29 05:31] rcavaliere commented on #14
By the way: I have also made a commit of the new analytics with an improvement of the config file for the visualization of station "states" on the map. Can you also integrate it in the pipeline?

[2020-03-06 09:46] rcavaliere commented on #24
First task is to implement API v2 + oAuth in the analytics web-app. Next steps:
- [ ] @Piiit prepares through externals (Martin) documentation on how to implement oAuth
- [ ] @rcavaliere asks an offer to Davide Montesin to do this implementation

[2020-03-11 15:44] bertolla commented on #14
I deployed everything on test, seeing that the error disappeared I also deployed on https://analytics.mobility.bz.it

[2020-03-14 08:24] rcavaliere commented on #14
@bertolla, thanks!
I however don't see that my modifications on layers-config.json, see: https://github.com/noi-techpark/mobility-analytics/blob/development/src/main/webapp/layers-config.json. It appears to me that this file is currently only in the development branch. Can you put in the master version, so that we can directly check on https://analytics.mobility.bz.it that new implemented logics w

[2020-03-16 08:40] bertolla commented on #14
Sorry I forgot to merge before deployment. Now it should be working.

[2020-03-17 21:19] rcavaliere commented on #14
@bertolla I have checked but I don't understand why I don't see the updates.
For instance, for the meteo stations on the map layer now also the stations in Trentino should have a coloured marker when precipitation is measured, but it's not the case... any case about why it is not working?

[2020-03-18 07:25] bertolla commented on #14
Is this https://analytics.mobility.bz.it/layers-config.json the correct file? Have you cleared cache to be sure?

[2020-03-18 07:31] rcavaliere commented on #14
@bertolla, no, it is not the actual file! This is one is the most updated one: https://github.com/noi-techpark/mobility-analytics/blob/development/src/main/webapp/layers-config.json (now also in master: https://github.com/noi-techpark/mobility-analytics/blob/master/src/main/webapp/layers-config.json)

[2020-03-18 08:55] bertolla commented on #14
Then there must be a problem in deployment, I will check the pipeline

[2020-03-18 09:28] bertolla commented on #14
Ok my bad, there is a second pipeline just for the deployment which I forgot to trigger. Maybe this should be automated in this case.
Now it should be ok

[2020-03-18 21:24] rcavaliere commented on #14
Yes, I confirm! Now the application is really nicer in the map overview, and immediately gives an insight of what's happening on the roads!

[2020-03-18 21:24] #14 closed

[2020-04-17 07:48] rcavaliere opened #26 "As a user I want to redirect BZAnalytics to https://analytics.opendatahub.bz.it/"

[2020-04-20 13:18] bertolla commented on #26
On https://analytics.opendatahub.bz.it/ you can check it.
Did I understand the userstory correctly because to me it seemed the other way around?

[2020-04-21 09:42] Piiit commented on #26
@rcavaliere
Shouldn't https://analytics.mobility.bz.it/ not fully redirect to  https://analytics.opendatahub.bz.it? I see that in both cases the URL is preserved...

[2020-04-21 19:53] rcavaliere commented on #26
@Piiit @bertolla @ohnewein what is the expected behaviour, that we just keep https://analytics.opendatahub.bz.it (redirect to this URL in case one tries to connect to https://analytics.mobility.bz.it/) ?

[2020-04-22 06:45] Piiit commented on #26
@rcavaliere This is what I understood so far, but I think the last decision has to be made by @ohnewein

[2020-04-22 09:28] bertolla commented on #26
:thinking: I kind of thought that the main objective of this userstory was to show the analytics tool on an opendatahub domain. What is the purpose of the redirect?

[2020-04-22 12:53] Piiit commented on #26
@bertolla I think we no longer want to split things from the point of view of external users. That is, a tourism data browser should be called browser.opendatahub.bz.it and analytics.mobility... should become analytics.opendatahub.bz.it. PatrickO told us in a longer discussion, that we just divide APIs, but all graphical tools should be just directly under the domain opendatahub.bz.it. For that, I

[2020-04-22 13:57] rcavaliere commented on #26
I also agree, the URL analytics.opendatahub.bz.it should be the official name.

[2020-04-23 08:42] bertolla commented on #26
OK, I created a redirect.
Try it here https://analytics.mobility.bz.it/

[2020-04-23 12:56] Piiit commented on #26
@bertolla Tested and works... I move it to done

[2020-04-23 12:56] #26 closed

[2020-06-04 15:23] Piiit opened #29 "Create a test environment with automated deployments"
It will be on https://analytics.opendatahub.testingmachine.eu

[2020-06-04 17:30] Piiit commented on #29
It runs at https://analytics.opendatahub.testingmachine.eu/analytics/ for the moment

[2020-06-04 17:32] Piiit commented on #29
@rcavaliere @bertolla @davidebz Please test...

@davidebz @noctho Please change the configuration of this webapp to run in the ROOT (not under `analytics`). Alternatively, I can also install nginx to redirect the artifact. What do you prefer?

All files can be found under `infrastructure`...

[2020-06-05 12:22] Piiit commented on #29
I fixed the context now, the application runs inside `/` now.

[2020-06-08 09:01] bertolla commented on #29
Even though the app seems to be working it does not provide any data.

[2020-06-11 09:26] Piiit commented on #29
@noctho We will investigate this issue, see linked issue above. In the meantime, just ignore this problem until we find a proper solution. We change the expiration time of the access token to 4 hours, so the problem will not be visible easily for users.

[2020-06-11 10:09] #29 closed

[2020-06-16 20:02] rcavaliere opened #33 "As a mobility expert, I would like to see the new prototype of the mobility analytics online on https://analytics.opendatahub.testingmachine.eu/"
The user story relates to the integration of the PR https://github.com/noi-techpark/mobility-analytics/pull/32

[2020-06-17 06:20] Piiit commented on #33
@rcavaliere This is OK, but please add it to the todo column, otherwise I do not understand priorities compared with other tasks... Thx

[2020-06-17 06:45] Piiit commented on #33
@rcavaliere I published the PR, but authenticated retrieval of data does not work... need to investigate since `https://mobility.api.opendatahub.testingmachine.eu/tree/VMS/%2A/latest?limit=-1&distinct=true&where=sactive.eq.true: 0` with Authentication headers result in a 502 bad gateway

[2020-06-18 15:46] Piiit commented on #33
@rcavaliere I found the issue, and solved it partially... but the analytics app downloads all data for each station (since VMS has huge metadata chunks, we run out of memory)... we need to investigate which fields are really required by each station type

[2020-06-18 15:51] Piiit commented on #33
@rcavaliere You can test it now, but do not download VMS data for the moment

[2020-06-18 20:24] rcavaliere commented on #33
@Piiit thanks! Is the issue related to the map or the chart part of the application? In case please contact Davide and Thomas for clarifications...

[2020-06-19 06:45] Piiit commented on #33
@rcavaliere I improved the queries, which now download only obligatory data. The metadata field is not downloaded anymore, because in some cases it contain several MBytes of data. I suggest to make that a second call, after one clicks on "details" inside the sidepane, or an async call... The VMS download is now 250kb :-)

@noctho @davidebz FYI... I will open a new issue for that.

I think this iss

[2020-06-19 06:45] #33 closed

[2020-06-19 06:50] Piiit opened #35 "Map: Download metadata in a second step"
@noctho @rcavaliere @davidebz

See https://github.com/noi-techpark/mobility-analytics/issues/33#issuecomment-646467018 for reasons

I suggest one of the following solutions:
- Download all metadata in a second step, but just for the currently selected item
- Download just a part of the metadata, which needs to be configured (hardcoded) inside the app itself, because we cannot say all metadata, exc

[2020-06-19 12:50] noctho commented on #35
Ok, in this case we have the problem that we still need some data type values to color the status circle. So if we only select the necessary metadata of all stations (station code and coordinates) to show the marking on the map and select all data types to color the status circle, we will not get any stations that do not support the selected data types.

Therefore i suggest the following solution:

[2020-06-22 08:57] davidebz commented on #35
We should discuss this problem in detail. On of the improvement of v2 api was to avoid 1+N (stations + metadata for each station) calls for map. It's ok if we need to make and additional call for the detail panel (opened when the user click a marker).

The list of metadata we need for the map can't be hard coded, because Roberto has the freedom to choose the data type he like for conditions.

I th

[2020-06-22 09:14] Piiit commented on #35
Ciao,

On 22.06.20 10:57, davidebz wrote:

This is not needed I guess, since we could download only the most
important metadata together with all stations, and just download
additional metadata fields on request (or according to other strategies,
that we would still need to invent)

I cannot find a GUI element, where to set those conditions? Are they
hardcoded as well?

We can make a meeting the 2

[2020-06-22 11:47] davidebz commented on #35
Hi Peter,

Roberto does not need a GUI, he change json file directly. The two json file are

https://github.com/noi-techpark/mobility-analytics/blob/development/src/main/webapp/layers-config.json

https://github.com/noi-techpark/mobility-analytics/blob/development/src/main/webapp/linkstation-config.json

This are static file, but Roberto can change it without limitations. Maybe first can we unders

[2020-06-22 11:59] Piiit commented on #35
OK, I see. Did not know that. However, if we have those files before the query, we can still just grab all metadata fields from their and just create a query that concatenates those fields into a select statement. Or, do I miss here something?

For example:
[code]

[2020-06-22 21:54] davidebz commented on #35
Hi Peter, this can be a good idea! we can try to build dinamically the select from json. But what about period? Look at this:

[code]
we need precipitation with period 900 and 300. How can we obtain this? When have a select like this:

[code]

which period is returned? All?

[2020-06-23 06:21] Piiit commented on #35
[code]
This could be a solution. What do you think?

Or a more complex example:
[code]

[2020-06-23 15:41] noctho commented on #35
Ok, I implemented the following solution:

1. Grab all the metadata of the stations to show them on the map.
`https://mobility.api.opendatahub.bz.it/v2/flat/MeteoStation/?limit=-1&distinct=true&select=scoordinate%2Cscode&where=sactive.eq.true`
2. Grab all datatypes to color the status circle. It is not possible to union both requests in a single request, because the some stations do not have the c

[2020-06-23 16:40] Piiit commented on #35
@noctho Cool! Great job... could you provide the query which you think fails, so that I can test if it is a bug?

About (1): This does not query any metadata, just coordinates and station codes.
About (2): You are right, it always makes a INNER JOIN, hence the DB rejects results which do not join. Nevertheless, if you can provide me your expected result, maybe I can find a solution... :-)

Little

[2020-06-23 19:00] Piiit opened #36 "Logged in users should not be kicked out while they interact with the app"
Renew the token from time to time, or when a user interacts with the application.

See authentication server examples repo's vanilla-spa for details

https://github.com/noi-techpark/authentication-server-examples

[2020-06-23 21:12] Piiit commented on #29
@noctho For reference, we have a solution for the expiring token now, lets continue with issue #36 ... Good n8

[2020-06-23 21:19] noctho commented on #35
What do you mean i think it will fail? That I don't receive all stations if I only grab only some data types? For example, if you call the following url, the response does not contain the station with the code `'89355SE'`.
[code]

Yes you are right. But actually, we don't need any metadata to display the markers. We just need the coordinates.

For exampe, if you call:
[code]
I would expect the fol

[2020-06-24 16:20] Piiit commented on #35
@noctho I can confirm that we've got a bug, I will fix it asap... https://github.com/noi-techpark/bdp-core/issues/166

[2020-06-25 07:43] noctho commented on #36
I have implemented the automatic renewal of the access token according to the example.

To do this, I removed all Keycloak properties from dotenv.js and added them to the keycloak.json file. I also changed the `silentCheckSsoRedirectUri` from `callback.html` to `silent-check-sso.html`. I think @Piiit has to change the server configuration, then it should work.

I opened a PR.

[2020-06-29 16:09] Piiit commented on #35
@noctho The bug is fixed now, so you do not need the workaround anymore

[2020-06-30 08:19] Piiit opened #38 "Maps: Some downloads of measurements do not succeed"
For example: TRAFFIC

https://mobility.api.opendatahub.testingmachine.eu/tree/Trafficstation/*/latest?limit=-1&distinct=true&select=tmeasurements,mvalue&where=sactive.eq.true,or(and(mperiod.eq.600,tname.eq.Nr. Equivalent Vehicles))

Use `tname.eq."Nr. Equivalent Vehicles"` instead of `tname.eq.Nr. Equivalent Vehicles`

In this case it will fail nevertheless, because on testing this datatype name d

[2020-06-30 08:20] Piiit commented on #38
This will be reviewed by @bertolla, when done. Since I am away for 2 months now... Thx

[2020-06-30 08:20] Piiit commented on #35
Seems to work, @bertolla @rcavaliere please test

[2020-06-30 08:22] Piiit commented on #35
@noctho you could remove the extra `mvalue` from the select statement .... thank you

[2020-06-30 08:24] Piiit opened #39 "Maps: We have some errors in the console"
![Selection_135](https://user-images.githubusercontent.com/6096063/86102494-e0b79600-babb-11ea-99ae-b85b781ff918.png)

[2020-06-30 08:25] Piiit commented on #39
@noctho Please have a look...

[2020-06-30 08:30] Piiit opened #40 "As a maintainer of the analytics project, I want to cleanup the repository and have a minimal deployment setup"
- [x] Check if Java is still necessary
- [x] Check if it would be possible to put all to an s3 bucket, instead of a docker image
- [x] Remove unnecessary and deprecated files
- [x] Use node for local development

- [x] Check if the .env script could be replaced by a bundler

[2020-06-30 09:32] noctho commented on #35
Done.

However. During a walkthrough, I found another API related problem: When I call the latest data of a station, where I'm not authorized to see the data type values, I receive an empty result. I don't even see the metadata, the station code etc. that I can see if I just select all data types without "/ latest". Is that also a bug or is this expected? If it is not a bug, I have also to perform

[2020-06-30 09:36] noctho commented on #38
I have fixed the broken request and if a download now fails the spinner will be removed.

[2020-06-30 09:40] noctho commented on #39
Can you explain when you get this error? Because I have never noted this type of error in the console ...

[2020-06-30 12:03] Piiit commented on #35
Hi,
yes you are right. The latest-call does not give you data, if you are
not allowed to see the measurements. That is expected and thus not a
bug. The latest- and the from-to-call are subject of this matter, all
other calls do not react on authentication, and always give the same result.

Cheers

On 30.06.20 11:32, noctho wrote:

--
Digital Technologies
ICT
Peter Moser

T +39 0471 066 672
p.moser

[2020-06-30 12:38] noctho commented on #35
Ok, so what should the user see in the details section if he is not authorized to view the values? All the metadata and a message that he is not authorized to see the data types? Or should he see all the data types without any value (the API offers this possibility).

[2020-06-30 12:49] Piiit commented on #35
@rcavaliere, what do you think?

On 30.06.20 14:38, noctho wrote:

--
Digital Technologies
ICT
Peter Moser

T +39 0471 066 672
p.moser@noi.bz.it

NOI Techpark Südtirol / Alto Adige
A.-Volta-Straße / Via A. Volta, 13A
I-39100 Bozen / Bolzano
https://www.noi.bz.it

[2020-06-30 13:18] Piiit commented on #38
Perfect, it works

[2020-06-30 13:18] #38 closed

[2020-06-30 13:20] Piiit commented on #39
@noctho Cannot reproduce it anymore in the new version, maybe it was a local issue

[2020-06-30 13:20] #39 closed

[2020-06-30 20:28] rcavaliere commented on #35
@noctho do you mean the details section when you click on a station on the map? I suggest that a not authorized user can see all data types, but no measurements, with a proper message related to the fact that he / she is not authorized to see this data.

[2020-07-01 07:39] noctho commented on #35
@rcavaliere exactly, that's what I mean.

[2020-07-01 07:46] noctho commented on #40
I can confirm that Java is no longer needed. Since we have integrated NOI Authentication and  changed the API calls from the middleware servlet directly to the API.

[2020-07-29 19:54] rcavaliere opened #44 "As a mobility expert I would like to connect https://analytics.opendatahub.bz.it/ via the ODH API v2 also for the plots part"
Task assigned to Chris Mair.
What is needed on ore side:
- [x] integrate the PR in our testing environment

To go into production
- [x] update production pipelines on jenkins
- [x] configure access to keycloak @ opendatahub.bz.it (chris, davide, ttdigital, test4brennerlec)

- [x] write flightrule on how to add new users and link to the flightrule on how to create new groups (update deprecated part

[2020-07-29 19:56] rcavaliere opened #45 "As a mobility expert I would like to have a R library to easily access the ODH data through the API v2"
Task assigned to Chris Mair.
What is needed on our side:
- [x] create a new repository (or use mobility analytics)
- [x] integrate the PR in our testing environment
- [x] move it to a new repo
- [x] retrieval of closed data (authentication through keycloak)
- [x] upload of final library version to correct repository -> https://github.com/noi-techpark/it.bz.opendatahub.analytics.libs (by @bertolla)

[2020-07-30 08:44] #36 closed

[2020-07-30 08:46] #35 closed

[2020-09-13 20:25] chris-mair commented on #7
Hi,

this is not a bug!

The first row of widgets allows to *set* new values for the x-axis, like *today*, or *from-to*, etc.
It is not meant to reflect the limit of the currently displayed  x-axis. Were it to reflect the current
limits also the "today" would make no sense.

The current values are shown right on the x-axis.

The graphics designer chose to give these widgets a very prominent positi

[2020-09-13 20:28] chris-mair commented on #5
Hi,

for the graph part, one can change

const DEBUG = false;

to

const DEBUG = true;

in gfx.js to enable logging in the console.

-- Chris

[2020-09-13 20:32] chris-mair commented on #6
Hi,

OK, this would make sense I guess. I'm not sure JS can copy *links* to the clipboard, though (?).

-- Chris

[2020-09-13 20:33] chris-mair opened #48 "charts use wrong colors cycle"
when starting from a perma link and adding new graphs, the colors are not cycled correctly

[2020-09-13 20:33] chris-mair commented on #48
this has been fixed in today's pull request

-- Chris

[2020-09-14 06:41] bertolla commented on #6
Hi, that should be quiet easy https://www.w3schools.com/howto/howto_js_copy_clipboard.asp, even thought I think that's not even needed.
I was referring more to the user experience. Since the user evidently is clicking on a link, something should happen.
IMAO the link should open in a new tab.

[2020-09-14 09:39] rcavaliere commented on #45
PR to integrate: https://github.com/noi-techpark/mobility-analytics/pull/47

[2020-09-15 09:56] Piiit commented on #45
@rcavaliere Done, see https://analytics.opendatahub.testingmachine.eu/ for testing

What has this all to do with an R library?

[2020-09-15 10:12] rcavaliere commented on #45
I made confusion with user story #44. Chris Mair has to provide also a R library for accessing the ODH API v2. I have updated the user stories accordingly

[2020-09-15 10:13] rcavaliere commented on #45
Let's leave it as "blocked" until we receive here a PR

[2020-09-15 10:14] rcavaliere commented on #44
PR to integrate: #47
@Piiit has deployed on https://analytics.opendatahub.testingmachine.eu/
@rcavaliere tests the new web-application

[2020-09-17 19:59] rcavaliere commented on #44
@Piiit seems not to work, the connection to the API has some issues?

[2020-09-18 06:43] Piiit commented on #44
@rcavaliere Fixed, changed the test URI and forgot to update analytics

[2020-09-18 11:13] rcavaliere commented on #44
@Piiit thanks. I suggest to go in production with this application. With the deployment, I would suggest to configure some user credentials with different access roles, so that we can then immediately start to use them. Please let's do this together so that I can then autonomously create and manage user credentials to be shared with 3rd parties users

[2020-09-18 15:14] Piiit commented on #44
@rcavaliere We are live, but the edges do not work on maps, because the v2 with edges is not yet deployed on production, I will do that next week...

[2020-09-18 15:17] Piiit opened #49 "Icon and page title are still showing "bz analytics""
we should replace that with our branded open data hub icons and colors?

[2020-09-18 15:18] Piiit opened #50 "some calls download too much data, not needed for the usage provided"
Use select=... more often

[2020-09-18 15:18] Piiit commented on #49
@rcavaliere What do you think?

[2020-09-18 15:22] rcavaliere commented on #49
Of course, that would be the next step. The GUI is already available... if we want to change the analytics logo, this should be decided together
[200504_DesignCIMA.pdf](https://github.com/noi-techpark/it.bz.opendatahub.analytics/files/5246443/200504_DesignCIMA.pdf)

[2020-09-21 15:22] Piiit commented on #44
@rcavaliere Edges work now, the new api is online...

Could you please close all issues that are no longer valid... thanks

[2020-09-22 06:10] Piiit commented on #44
@rcavaliere Do you know which email or emails brennerlec likes to use for login?

[2020-09-22 06:16] rcavaliere commented on #44
@Piiit I would suggest to create "real" user accounts (i.e. personal e-mail address). I will provide the complete list to be created

[2020-09-22 06:19] Piiit commented on #44
@rcavaliere ok, I will write flightrules on how to add those emails, and so you could enable the accounts by ourself and with that test the documentation... ok?

[2020-09-22 10:28] Piiit commented on #44
@rcavaliere Flightrules updated... see https://github.com/noi-techpark/documentation/blob/master/FLIGHTRULES.md#open-data-hub-mobility for details... you need to add new users, and probably also a new role, if you do not want to reuse the existing BLC role.

[2020-09-22 10:29] #48 closed

[2020-09-22 10:33] Piiit commented on #24
@ohnewein @rcavaliere All done, we just need to have a list of emails and users from brennerlec

Roberto will collect those and open new users and set rules with flightrules... let me know, if you need help...

[2020-09-22 10:33] #44 closed

[2020-09-22 10:35] Piiit commented on #10
@rcavaliere Is this still open? Could you create such a user with the new flightrules? I move it to TODO so we can finish the user management part at once

[2020-09-22 10:38] Piiit commented on #4
@ohnewein @bertolla This is an old issue no longer valid for our keycloak setup

[2020-09-22 10:38] #4 closed

[2020-09-22 12:23] Piiit commented on #21
@davidebz @rcavaliere Has this issue been solved already?

[2020-09-22 12:24] Piiit commented on #22
@davidebz @rcavaliere Is this issue still open for the new version of analytics?

[2020-09-22 12:26] Piiit commented on #5
@bertolla Is this issue still open? Do we have all the logs that we need with the new version? I will add this to a future milestone for now

[2020-09-22 12:29] Piiit commented on #7
@bertolla @chris-mair Shouldn't we nevertheless check min/max values of the current x-axis and put them into the fields of the "CUSTOM DATE RANGE"... I think also with the explanation of chris it would make sense to do so, or to move the time selectors back down as it was suggested before design changes. I will postpone this for a future milestone...

[2020-09-22 12:30] #40 closed

[2020-09-22 12:31] Piiit opened #52 "Use the keycloak.js script from our keycloak server, such that we have the same version for sure"
At the moment we have it stored within the repo.

[2020-09-22 12:32] Piiit commented on #49
@rcavaliere Nice design, but I miss the graphs part. Should we change the title in the meantime or postpone all design changes to a future version?

[2020-09-23 16:05] rcavaliere commented on #21
@Piiit not really, I will fix this in the config file. I will as short-term solution make a calculation based on the max occupancy of the parking areas, which we assume is forever fixed...

[2020-09-23 16:05] rcavaliere commented on #22
No, now with this new version we can manage this easily in the config file

[2020-09-23 16:05] #22 closed

[2020-09-23 16:07] rcavaliere commented on #49
@Piiit the plots will be like now, just with the new CSS for header, font etc. I see this as part of a new deployment of analytics. Let's now concentrate on the correct functioning of the interface with the APIv2

[2020-09-24 08:13] chris-mair commented on #50
Hi,

for the gfx.js part this is fixed by PR

https://github.com/noi-techpark/it.bz.opendatahub.analytics/pull/53

-- Chris

[2020-09-24 08:23] Piiit commented on #50
Great

[2020-09-24 08:23] #50 closed

[2020-10-02 09:26] #10 closed

[2020-10-07 22:45] chris-mair commented on #45
Hi,

see PR 54

https://github.com/noi-techpark/it.bz.opendatahub.analytics/pull/54

I made a new dir under the main repo api/R/ so we can add other
APIs in the future.

Note: OAuth2 authentication is not yet supported here.

I've tested this with R 3.5 in Debian 10 and R 4.0 in macOS 10.14.

-- Chris

[2020-10-08 05:24] rcavaliere commented on #45
@Piiit can you please import the PR, prepare something testable, and manage with @chris-mair the authentication mechanism?

[2020-10-08 12:34] Piiit commented on #45
@rcavaliere I merged the PR now, but why do we have such a generic API library inside analytics, which is a web application and has nothing to do (except for the name maybe), with libraries? Should we use a separate repo instead, or do you want to keep it like this?

[2020-10-08 12:43] Piiit commented on #45
@rcavaliere @chris-mair What do you need for the authentication mechanism? I think, with the present client `odh-mobility-generic` everyone can already use it. We just need to get a token from the oauth server and then send with each GET a header with Authentication bearer tokens.

See https://docs.opendatahub.bz.it/en/latest/guidelines/authentication.html for further details...
The chapter "Reque

[2020-10-08 12:49] rcavaliere commented on #45
You are right, I think we made like this because it was something that emerged from a discussion related to the analytics tool. Please create a separate repo for that!

[2020-10-12 16:21] chris-mair commented on #45
This has been moved to https://github.com/noi-techpark/it.bz.opendatahub.analytics.libs/ and note PR #2 there solves authentication too.

So we can tick the last checkbox and close this :)

-- Chris

[2020-10-24 05:18] rcavaliere opened #58 "As a mobility expert I would like to see travel times layer coloured according to the real time measurements and information associated to VMS coupled with correspondant codes"

[2020-10-24 05:22] rcavaliere commented on #45
This user story should be completed.
@bertolla please upload the last version of the R library in the correct repository: https://github.com/noi-techpark/it.bz.opendatahub.analytics.libs
Once available, the complete test of this module will be carried out by CISMA

[2020-10-26 15:20] bertolla commented on #45
I merged the dev branch, there should not be more to do.

[2020-11-02 05:42] rcavaliere commented on #45
@bertolla there is a new PR by @chris-mair with an example on how to use credentials, please accept it!

[2020-11-27 09:24] #45 closed

[2021-01-03 06:35] rcavaliere opened #64 "As a data analyst I would like to have a more efficient visualization of the ODH mobility data on http://analytics.opendatahub.bz.it/"
Thanks to several adjustments of the "layers-config.json" file it is possible to have a more immediate view of what's happening in real-time in terms of mobility and traffic conditions

[2021-01-07 11:50] rcavaliere commented on #64
JSON file updated, see PR https://github.com/noi-techpark/it.bz.opendatahub.analytics/commit/eb47988e6ba98c04ad1360725678921ec3762ceb

@bertolla @Piiit can somebody of you put this in production?

[2021-01-07 12:25] bertolla commented on #64
Merged with master and deployed on production

[2021-01-07 12:33] #64 closed

[2021-02-08 19:43] rcavaliere opened #67 "As a mobility expert I would like to see the new GUI of analytics.opendatahub.bz.it implemented"
Implemented by Catch & Solve
@bertolla can you please integrate the PR https://github.com/noi-techpark/it.bz.opendatahub.analytics/pull/66 so that we can test the new GUI?

Check on https://analytics.opendatahub.testingmachine.eu/

[2021-02-22 12:47] rcavaliere commented on #67
@bertolla can you please integrate the PR #68? This should fix some little remaining bugs. Once tested I think we can go in production.

[2021-02-22 13:02] noctho commented on #67
But before going in production, I'd like to clean up the code and delete all the deprecated files.

[2021-02-22 13:04] rcavaliere commented on #67
@noctho ok, will you make a new PR?

[2021-02-22 13:05] noctho commented on #67
Yes, I will open a new PR

[2021-02-22 14:37] bertolla commented on #67
You can see the changes on testing: https://analytics.opendatahub.testingmachine.eu/

[2021-02-22 21:01] rcavaliere commented on #67
@bertolla @noctho wonderful, all issues seem to be solved. Once we get the final PR I think we can go really go to production!

[2021-02-24 12:49] noctho commented on #67
I have created now the final PR, see #69

[2021-02-24 13:47] rcavaliere commented on #67
@noctho wonderful! @bertolla can you please integrate it?

[2021-02-27 05:08] rcavaliere opened #70 "Latitude and longitude are inverted in the detail bar on the map"
See screenshot. The values associated to latitude and longitude are inverted
![Screenshot from 2021-02-27 06-07-35](https://user-images.githubusercontent.com/9825179/109376063-31d58f00-78c2-11eb-9565-e846aea712a6.png)

[2021-03-01 09:57] noctho commented on #70
You are right. These two values are inverted, but this bug only affects the detail bar. I checked this and fixed it with 0f8eae7588f8323b19c64c8aa33859c505771eb2.

I can see that my last recent PR (#69) is still open, so it contains already this commit in it.

[2021-03-01 12:38] bertolla commented on #67
@rcavaliere I just deployed it, please check if everything is still working as expected and we go to production

[2021-03-01 13:52] rcavaliere commented on #67
@bertolla also #70 is solved. Let's put the new version in production!

[2021-03-04 22:13] #67 closed

[2021-03-10 20:22] #58 closed

[2021-03-10 20:24] rcavaliere commented on #49
@noctho we got a request to delete the "BZ" part of the logo. Could you please do this? You can directly change the logo file and get the text "Analytics" nearer to the left element of the logo

[2021-03-10 20:24] #24 closed

[2021-03-10 20:24] #21 closed

[2021-03-10 20:27] rcavaliere opened #71 "As an end-user I would like to see the map and not the charts view display at first"
Many users are starting to ask to see the map when they enter in the application, even if empty without layers activated - and not the charts, since they use this after browsing in the map.
@notcho can you configure this? I hope this can be done very quickly, or?

[2021-03-10 20:35] rcavaliere opened #72 "As an end-user I would like to see on analytics also the bike sharing data of Merano"
At present we display on analytics only the stationtype "BikeStation", which however does not include the bike sharing service in Merano. By adding this API call:
https://mobility.api.opendatahub.bz.it/v2/flat,node/Bicycle/*/latest?where=sorigin.eq.%22BIKE_SHARING_MERANO%22
it would be possible to see also see the positions of bikes on the map and the associated data in the charts view.
@davidebz

[2021-03-11 07:29] davidebz commented on #49
@rcavaliere ok, but please assign first me, then I will assign noctho or me depending on internal organization

[2021-03-11 07:31] davidebz commented on #71
@rcavaliere yes it should be a quick activity. we will to this

[2021-03-11 07:34] davidebz commented on #72
@rcavaliere Is this simply a new layer? Or this should be added to an existing layer with specific code logic?

[2021-03-11 07:35] rcavaliere commented on #49
@davidebz ok done, thanks for the feedback

[2021-03-11 07:36] rcavaliere commented on #72
No, this should be integrated in the bike sharing layer. While retrieving the other bike sharing data this additional data should be also asked. Is this possible?

[2021-03-11 09:06] davidebz commented on #49
@rcavaliere @noctho will cut the logo. We are not designer so we try do to the best we can. When you are not satisfied with our change to the logo is still possibile that you ask to a designer and we then copy the logo in the repository

[2021-03-11 09:10] davidebz commented on #72
@rcavaliere @davidebz and @noctho we will estimate the effort, discuss it internally and the I will report to you how we can proced

[2021-03-11 09:38] rcavaliere commented on #72
@davidebz perfect! please do not start implement, just give me first an estimation about the effort / complexity to do this.

[2021-03-11 10:11] davidebz commented on #72
@rcavaliere ok!

[2021-03-12 08:23] davidebz commented on #72
Hi Roberto, the effort is about 8h

For other questions feel free to contact me

[2021-03-15 15:54] rcavaliere opened #73 "As a mobility expert I would like to monitor the accesses to the portal analytics.opendatahub.bz.it/"
The user story relates to the insertion of the Google Analytics monitoring in the website and the internal sharing of the view on the Google Analytics dashboard

[2021-03-22 08:24] bertolla commented on #73
If we add google analytics, we would also need a cookie banner for the user to accept. Can Davide M. do that?

[2021-03-22 14:52] noctho commented on #72
done, see #74

[2021-03-22 14:53] noctho commented on #71
done, see #74

[2021-03-22 14:59] noctho commented on #49
I have cut "BZ" out of the logo. Now you only see "Analytics" there:
https://github.com/noi-techpark/it.bz.opendatahub.analytics/blob/7954a739cf290a5a83d011ecfa45fb8dc0ec11a0/src/main/webapp/img/logo.svg

see #74

[2021-03-22 20:31] rcavaliere commented on #73
Really? We have several websites (e.g. BrennerLEC) in which we have Google A. without cookie banner...

[2021-03-22 21:07] davidebz commented on #73
Hi Roberto, I confirm with google analytics the use must have the right to accept/reject google analytics cookies. I have do this task  for s.virtuale.

[2021-03-22 21:12] rcavaliere commented on #49
@noctho the logo is fine!

[2021-03-22 21:37] davidebz commented on #73
I just reviewed the code of s.virtuale. The issue is more complex, it's may depend on the google analytics  flag anonymize_ip=true. But I think we need to make a recap about this.

[2021-03-22 21:41] Piiit commented on #73
Some time ago, we had a discussion about not using GA at all

[code]

But due to lack of time, we never started with a test to compare GA and Matomo... maybe it is time to get it done :-)

[2021-03-23 08:31] bertolla commented on #73
It wouldn't change the fact that we need a cookie banner. And doing the selfhosting would increase the effort for this user story drastically, block further development and increase maintenance effort . Not a bad idea, but should be done in a seperate user-story where we discuss if we self host or if we use their cloud infrastructure.

@rcavaliere Can Davide create this cookiebanner(should be low

[2021-03-23 08:37] Piiit commented on #73
@bertolla The final decision was to test it with one project and see if the dashboard is what we need. Then, if we like it, we can have a look at their SaaS offerings or host it ourselves, if feasible. I will forward the old email to you all....

[2021-03-23 08:46] Piiit commented on #73
That is OK, we should not hurry, make a plan and do it right from the start.

OK, I will just invite devs for the moment

[2021-03-25 17:33] #72 closed

[2021-03-25 17:37] #71 closed

[2021-03-29 09:44] Piiit commented on #49
@rcavaliere Can we close this issue?

[2021-03-29 09:46] #49 closed

[2021-03-29 15:18] bertolla commented on #73
@rcavaliere I kinda miss your reply for the cookiebanner. Can Davide implement this? It is unrelated to what we are going to use

[2021-04-02 09:10] rcavaliere opened #75 "As a mobility analyst I would like to monitor the accesses of analytics.opendatahub.bz.it"
We need a cookie banner for the privacy stuff. We can provide the text to be inserted and set up the Google Analytics in our Google accounts

[2021-04-06 20:17] rcavaliere opened #76 "As a mobility expert I would like to see the on-street parking data"
This dataset is available through the following end-point: https://mobility.api.opendatahub.bz.it/v2/flat,node/ParkingSensor/*/latest
It shows the availability of each single parking slot. A visualization example is available on https://parking.bz.it/ (see map visualization). The data should be visualized under the category "Parking". At the end the expectation is that when the layer "Parking" is

[2021-04-16 05:11] rcavaliere commented on #73
@bertolla can you please provide an example of Google Analytics snippet you already use for another web-app, e.g. mobility.meran.eu?

[2021-04-30 05:03] rcavaliere commented on #73
Status: task assigned to @davidebz, waiting for implementation

[2021-04-30 05:04] rcavaliere commented on #76
Status: waiting for the implementation by @davidebz

[2021-05-04 10:00] Piiit opened #78 "Clicking on some measurements on the map result in an error"
I logged in a user that can access "Comune di Bolzano" data, then I clicked on "traffic" and the station as you see it in the screenshot:
![Selection_051](https://user-images.githubusercontent.com/6096063/116988072-280c4580-acd0-11eb-8679-577a9e8a5b0d.png)

The problem is that the detail view shows "loading..." forever. All data types in that station that have a gray dot work as expected.

Console

[2021-05-04 10:01] Piiit commented on #78
@rcavaliere FYI

@davidebz Do you have an idea how to solve this?

[2021-05-04 15:05] noctho commented on #78
The problem is that the code expects a result from the following request, but the `data` property is empty:

https://mobility.api.opendatahub.testingmachine.eu/v2/tree/TrafficSensor/*?where=scode.eq.municipalitybz:14

But the result of this request is not empty:

https://mobility.api.opendatahub.testingmachine.eu/v2/tree/TrafficSensor?where=scode.eq.municipalitybz:14

Therefore, I assume that the

[2021-05-04 15:26] Piiit commented on #78
@noctho Hi, thanks for your investigations.

However, the API operates like a SQL statement as it is just a thin layer around Postgres queries. That is, if you have a filter that filters out everything, nothing is generated an a empty result returned. Checking the DB it turns out that that station has no measurements attached, hence the empty result.

I will think of a possibility to add empty sda

[2021-05-04 16:02] davidebz commented on #75
Do you have the text too? We have just copied the text of altoadigemobilità ;-)

[2021-05-04 16:02] davidebz commented on #75
The text is enought in english or you prefer more languages?

[2021-05-04 20:45] rcavaliere commented on #75
@davidebz you mean my GMail account? It is roberto.cavaliere83@gmail.com. For the text, it's fine if you used that one for this first implementation, in case we can adjust it. It's sufficient to have it in English.

[2021-05-04 20:48] davidebz commented on #75
No I mean UA-NNNNN-1

[2021-05-04 21:04] rcavaliere commented on #78
This is a special case of stations that have no data types and measurements associated. Yes, if we have a better error message here would be nicer.

[2021-05-04 21:15] rcavaliere commented on #75
@bertolla do you want to generate it and then share the access with my account?

[2021-05-05 06:21] bertolla commented on #75
I guess you can use the production id. We can then exclude data collected before a certain date.

[2021-05-05 07:20] rcavaliere commented on #75
@bertolla thanks. My e-mail address is roberto.cavaliere83@gmail.com

[2021-05-20 09:50] bertolla commented on #73
I did some small changes on the pipeline and it's working correctly now.(on production)
I sent and invitation for analytics to @rcavaliere and @ohnewein

[2021-05-20 18:38] rcavaliere commented on #73
I see this on my google analytics dashboard. And you @ohnewein?

[2021-05-20 18:40] #76 closed

[2021-05-24 22:14] ohnewein commented on #73
Seams to work since May 20th again.

[2021-05-28 07:48] #73 closed

[2022-06-15 15:13] rcavaliere opened #92 "As a user I would like to distinguish between situations in which we have data access limitations and situations in which we have stations with no data available"
The application should be able to understand this and provide the right information when clicking on a station on the map

[2022-11-14 21:24] rcavaliere opened #94 "As a project manager I would like to visualize the layer "event" on analytics.opendatahub.com"
- [x] Verify and integrate the PR by Giulio Roman: https://github.com/noi-techpark/it.bz.opendatahub.analytics/pull/93
- [x] Make the new PR available under  https://analytics.opendatahub.testingmachine.eu/ (testing environment)
- [x] Release on production
- [ ] New feature (web component) released also in the web components store

[2022-11-16 12:20] dulvui commented on #94
@rcavaliere PR is now available on testing site

[2022-11-24 21:56] rcavaliere commented on #94
@dulvui still to be tested, seems that some improvements in the data provided is needed.